.card:empty,.card.infohidden{
    background: url('image/xingBei1.png');
    background-size: 100% 100%;
}
.card.infohidden:not(.infoflip){
	background: url('image/xingBei2.png');
    background-size: 100% 100%;
}
